:root {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.prevent-select {
    -webkit-user-select: none;
    user-select: none;
}