.Page-result {
    margin: 100px 70px 10px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence {
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    width: 80vw;
    padding: 10px 20px 10px 20px;
    margin: 0px 0 15px 0;
    font-size: 0.7em;
    transition: 0.1s;
}

.sentence-bad {
    background-color: rgba(250, 150, 150, 0.1);
}

.sentence-yes {
    background-color: rgba(150, 250, 150, 0.1);
}

.sentence:hover {
    background-color: rgba(150, 150, 150, 0.1);
    transition: 0.1s;
}

.sentence-text {
    width: 60vw;
}


.sentence-pred {
    display: flex;
    justify-content: space-between;
}

.sentence-pred-label {
    margin-right: 10px;
    font-weight: 600;
    text-align: end;
}

.sentence-pred-value {
    text-align: start;
}
